/*
=============== 
Fonts
===============
*/

@import url("https://use.typekit.net/cbg5juo.css");

/*
=============== 
Variables
===============
*/

@import "./variables.scss";

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overscroll-behavior-y: none;
  font-family: $font-primary, sans-serif;
  line-height: 1;
  font-weight: 100;
  font-size: 1.6rem;
  background-color: $clr-white;
}

ul {
  list-style-type: disc;
}

a {
  color: $clr-black;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: #888;
  }
}
h1,
h2,
h3,
h4 {
  font-family: $font-primary, sans-serif;
  font-weight: 100;
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 0.8;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: clamp(5rem, 7vw, 7rem);
}
h2 {
  font-size: clamp(4rem, 5vw, 5rem);
}
h3 {
  font-size: clamp(3rem, 4vw, 4rem);
  font-weight: 200;
}
h4 {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: 200;
}
p {
  font-weight: 200;
  line-height: 1.8;
  margin-bottom: 1.25rem;
}
