/*
=============== 
Fonts
===============
*/

@import url("https://use.typekit.net/cbg5juo.css");

/*
=============== 
Variables
===============
*/

@import "./variables.scss";

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
  font-family: $font-secondary, sans-serif;
  line-height: 1.8;
  font-size: 0.875rem;
  font-weight: 100;
  background-color: $clr-white;
}
ul {
  list-style-type: disc;
}
a {
  color: $clr-black;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: #888;
  }
}
h1,
h2,
h3,
h4 {
  font-family: $font-primary, sans-serif;
  font-weight: 200;
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 0.8;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: clamp(4rem, 6vw, 6rem);
}
h2 {
  font-size: clamp(3rem, 4vw, 4rem);
}
h3 {
  font-size: clamp(2rem, 3vw, 3rem);
}
h4 {
  font-size: clamp(1rem, 2vw, 2rem);
}
p {
  font-family: $font-secondary, sans-serif;
  font-weight: 100;
  margin-bottom: 1.25rem;
}

.main-container {
  width: 100vw;
  // height: 100vh;
}

/*
============================================================ 
TRANSITIONS
============================================================
*/

.photo-gallery-in {
  opacity: 1;
}

.photo-gallery-out {
  opacity: 0;
}

/*
=============== 
Header
===============
*/
header {
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  padding: 2rem;
  z-index: 1;
  .photo-gallery-user-name {
    opacity: 100%;
    transition: opacity 0.3s linear;

    h1 {
      color: $clr-black;
      text-align: right;
      font-weight: 100;
      font-size: clamp(2rem, 5vw, 5rem);
    }

    &:hover {
      opacity: 50%;
      transition: opacity 0.3s linear;
    }
  }
}

/*
=============== 
Main
===============
*/

main {
  width: 100vw;
  min-height: 100vh;
  // overflow: hidden;
}

/*
=============== 
Product List
===============
*/

.productList-container {
  width: 100%;
  min-height: 100%;
  padding: 4rem;
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
}

/*
=============== 
Product Item
===============
*/

.productItem-container {
  width: 30rem;
  height: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .productItem-img-container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    will-change: transform;
    transition: transform 0.5s ease-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.08);
    }
  }

  .productItem-title-container {
    margin: 0.8rem auto;
  }
}

/*
=============== 
Footer
===============
*/

footer {
  width: 100vw;
  height: 13rem;
  padding: 2rem;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: $clr-white;
    color: $clr-black;
    transition: 0.3s;
    &:hover {
      text-decoration-color: $clr-black;
    }
  }

  @media screen and (min-width: 992px) {
    padding-left: 50vw;
    display: flex;

    .socials {
      margin-left: 15rem;
    }
  }
}

/*
=============== 
Product Page
===============
*/

.page-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 2rem;

  .page-main-image-container {
    top: 0;
    right: 2rem;
    bottom: 0;
    left: auto;
    z-index: 200;
    width: 90vw;
    height: 100vh;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    will-change: transform;
    transform-origin: center;
    transition: 0.2s opacity;

    .page-main-image {
      width: 100%;
      height: 100%;
      will-change: transform;
      transform: scale(1.1);
      transform-origin: center;

      img {
        transform-origin: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;
      }
    }
  }

  .page-text-container {
    width: 50%;
    padding: 3rem 4rem 5rem 0;
    .page-title {
      margin: 2rem 0;
    }
    h3 {
      font-weight: 100;
    }
  }
}
