.productItem-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0;
  height: 30vh;
  // overflow: hidden;

  .productItem-img-container {
    width: 100%;
    height: 100%;
    

    .productItem-img {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .productItem-title-container {
    margin: 1rem auto;
  }
}
